# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE & Editor Configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vs/
*.vcxproj*

# OS Generated
.DS_Store
Thumbs.db
Desktop.ini

# Logs & temp
*.log
*.tmp
